*{
    box-sizing: border-box;
}

.previous{
    margin-bottom: 2.4vw;
}

.previous-content{
    display: flex;
    flex-wrap: wrap;
    margin-top: 1rem;
}

.previous-content .item{
    flex-basis: calc(100%/3);
    padding-right: 50px;
}

.previous-content .item:nth-child(3n) {
    padding-right: 0;
}

.item .item-img{
    height: 300px;
    margin-bottom: 1.5vh;
}

.item .item-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.previous-title{
    width:300px;
}

.previous-title a{
    color: #080b12;
    font-weight: 680;
}

.previous-title:hover a{
    color: #080b12;
    text-decoration: underline;
}

.member{
    display: inline-block;
    background-color: #f9c345;
}