.featured-content{
    display: flex;
}

.featured-content .item{
    flex-basis: calc(100%/3);
    margin-right: 50px;
    background-color: #f9c345;
    padding: 26px;
    border-radius: 22px;
    height: 360px;
    transition: transform .3s ease;
}

.featured-content .item:hover{
    transform: translateY(-3px);
}

.featured-content .item a{
    color: #080b12;
}

.featured-content-img{
    border-radius: calc(22/2.6);
    margin-bottom: 1.4vh;
    height: 200px;
}

.featured-content-img img{
    width: 100%;
    height: 100%;
}

